<%- include('includes/head.ejs') %>
    </head>

    <body>
        <%- include('includes/headerbar.ejs') %>
            <h1>Oops! Página não encontrada!</h1>
            <br>
            Use o menu superior para navegar.

            <%- include('includes/end.ejs') %>