<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/contact.css">
</head>

<body>
    <%- include('includes/headerbar.ejs') %>

    <main>
    </main>
<%- include('includes/end.ejs') %>