.contact-form {
    width: 30rem;
    max-width: 90%;
    margin: auto;
}

.contact-item {
    width: 20rem;
    max-width: 95%;
}

.contact__title {
    font-size: 1.2rem;
    text-align: center;
}

.contact__price {
    text-align: center;
    color: #4d4d4d;
    margin-bottom: 0.5rem;
}

.contact__description {
    text-align: center;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}



#contact__table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  #contact__table thead th{
    font-weight: bold;
    background-color: rgb(35, 54, 41);
    color:white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    padding:6px 30px;
  }

  #contact__table thead tr{
    background-color: #009879;
    color: #ffffff;
    text-align: left;
  }
  
  #contact__table tr td{
    padding:5px 10px;
    text-align: center;
    
    cursor: pointer; /**importante para não mostrar cursor de texto**/
  }
  
  #contact__table tr td:last-child{
    text-align: right;
  }
  
  /**Cores**/
  #contact__table tr:nth-child(odd){
    background-color: #eee;
  }
  
  /**Cor quando passar por cima**/
  #contact__table tr:hover td{
    background-color: #a3a3a3;
  }


  #contact__table tbody tr {
    border-bottom: 1px solid #dddddd;
}

#contact__table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

#contact__table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

#contact__table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
  /**Cor quando selecionado**/
  #contact__table tr.selecionado td{
    background-color: #0f971a;
  }